// 通用样式
.m-nav {
    .u-title {
        padding: 10px 15px;
        border-bottom: 1px solid #eee;
        margin: 0;
        font-size: 14px;
    }
}

// qq群
.c-sidebar-right-msg {
    margin: 5px 0 10px 0;
}

.m-nav-group {
    margin-top: 5px;
    margin-bottom: 10px;
    i {
        .mr(8px);
        .fz(16px);
    }
    a {
        .db;
        // border-bottom: 1px solid #eee;
        .fz(14px, 32px);
        padding: 5px 25px;
        color: #555;
        svg,
        img {
            .y(-3px);
            .mr(5px);
            fill: #555;
            .size(16px);
        }

        .u-fav,
        .u-pass,
        .u-user,
        .u-avatar {
            .size(14px);
            .y(-2px);
        }
        .u-blank {
            .mt(7px);
            .fr;
            .size(12px);
        }

        &:hover {
            // background-color: #fff;
            color: @darkblue;
            svg {
                fill: @darkblue;
            }
        }

        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .router-link-exact-active,
    .on {
        background-color: #fff;
        color: @darkblue;
        svg {
            fill: @darkblue;
        }
        .bold;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
}

// 列表
.m-list-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    // margin-top: 16px;
    font-size: 14px;

    .u-item {
        display: block;
        padding: 5px 25px;
        line-height: 32px;
        color: #555;

        cursor: pointer;
        height: 32px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .u-icon {
        .mr(8px);
        .fz(16px);
        .y(-1px);
    }
}

.c-sidebar-left {
    padding: 10px 0 0 0;
}

// 标签热搜
.m-nav-tags {
    .mt(20px);
    .clearfix;

    .u-list {
        padding: 0 25px;
        .mt(10px);
    }

    a {
        .fl;
        .db;
        padding: 0 5px;
        .fz(12px, 2);
        border: 1px solid #eee;
        .r(3px);
        .mr(10px);
        .mb(10px);
        // background-color: #f1f8ff;
        background-color: #fff;
        color: #4274ad;
        &:hover {
            color: @pink;
        }
    }
}
