.m-single-notice {
    .mb(12px);

    background-color:#e6f0fb !important;
    .el-alert__title{
        color:#c00;
    }
    .el-alert__description {
        .fz(12px,1.6);
        color:#3e474c !important;
        padding-bottom: 10px;
    }
    // align-items: flex-start;
}

.m-single-meta {
    // margin:20px;
    margin: 10px 0 40px 0;
    border: 1px solid @primary;
    .r(4px);
    padding: 20px;
    background-color: #faffff;

    .u-data {
        .fz(13px,24px);
        .pr;
        .mb(10px);
        .clearfix;
    }

    .u-feed {
        .y;
        .mr(10px);
        .pointer;
        .dbi;
        .h(24px);
    }

    .u-down {
        .pa;
        .rt(0);
    }

    .u-typename {
        .fz(14px,32px);
    }

    .u-subtype-other {
        .clearfix;
    }

    .u-excerpt {
        .fl;
    }

    .u-download {
        .fr;
        .u-short {
            .none;
        }
    }

    .u-gitee {
        fill: #fff;
    }
}

.m-tool-meta {
    .flex;
    gap: 10px;
}

.m-single-meta__main {
    flex: 1;

    .m-meta-item {
        .fz(13px,32px);
        .pr;
        padding: 5px 10px 5px 10px;
        .flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dotted #eee;
    }
    .u-name {
        i {
            .mr(4px);
            color: #0755ad;
        }
    }
}
.m-single-meta__side {
    width: 300px;
    .u-report {
        .db;
        .x;
        .w(100%);
    }
}

@media screen and (max-width: @phone) {
    .m-single-meta {
        .u-data {
            .u-desc,
            .u-down {
                .none;
            }

            .u-feed {
                .db;
            }
        }
        .u-data-add {
            .u-feed {
                .mb(10px);
            }
        }
        .u-download {
            .u-long {
                .none;
            }
            .u-short {
                .di;
            }
        }
    }
}
