.m-maps {
    .flex;
    gap: 20px;
    .scrollbar;
    overflow: auto;
    .m-toolbar {
        .flex;
        .pl(20px);
        width: 220px;
        background-color: #fff;
        border-left: 1px solid #ddd;
        overflow: visible;
        flex-direction: column;
        flex-shrink: 0;
        gap: 10px;
        .el-button {
            width: 50%;
        }
        .u-world-map {
            .x;
            .fz(14px);
            .r(3px);
            border: 1px solid #ddd;
            padding: 5px 0;
            background-color: #f9f9f9;
            &:hover {
                cursor: pointer;
                background-color: #000;
                color: #fff;
            }
        }
    }

    .m-mapList {
        .flex;
        .scrollbar;
        height: calc(100vh - 320px);
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        &.mapId {
            height: auto;
        }
        .u-item {
            .r(3px);
            .x;
            .fz(14px);
            .pointer;
            letter-spacing: 1px;
            padding: 6px;
            border: 1px solid #ddd;
            &:hover {
                color: #fff;
                background-color: #3585de;
            }
            &.active {
                color: #fff;
                background-color: #0366d6;
            }
        }
    }
    .m-maps-pic {
        .flex;
        .clip;
        .size(1024px,896px);
        height: calc(100vh - 160px);
        flex-direction: column;
        align-items: center;
        cursor: move;
        position: relative;
    }
    .m-maps__title {
        .fz(24px,24px);
        margin: 0;
        background-color: #fff;
    }
    .m-select-box {
        .flex;
        align-items: center;
        position: absolute;
        bottom: 10px;
        left: 10px;
        transition: 0.3s all;
        cursor: default;
        .m-select__item {
            .flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.3);
            padding-right: 5px;
            .u-item-title {
                position: relative;
                margin-right: 10px;
                .u-img {
                    width: 40px;
                    height: 100px;
                    display: block;
                    object-fit: cover;
                    object-position: left;
                }
                .u-text {
                    position: absolute;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    white-space: nowrap;
                }
            }
            .m-select-arrow-box {
                .u-item-arrow {
                    width: 30px;
                    display: block;
                    cursor: pointer;
                    &.u-item-arrow_left {
                        margin-right: 10px;
                    }
                    &.u-item-right {
                        margin-left: 10px;
                    }
                    &.u-item-arrow_dis {
                        cursor: not-allowed;
                    }
                }
            }
            .u-item-option {
                .flex;
                align-items: center;
                .u-item {
                    text-align: center;
                    width: 120px;
                    height: 90px;
                    padding: 5px;
                    box-sizing: border-box;
                    cursor: pointer;
                    .u-img {
                        display: block;
                        width: 110px;
                        height: 60px;
                        margin-bottom: 2px;
                    }
                    .u-text {
                        color: white;
                    }
                    &:not(:first-child) {
                        margin-left: 5px;
                    }
                }
            }

            &:not(:first-child) {
                margin-left: 10px;
            }
        }
        &.m-select-box__hide {
            transform: translateX(-110%);
        }
    }
    .m-map__world {
        .pr;
        .size(4920px, 3456px);
        .u-traffic {
            .pa;
            .lt(1542px,1066px);
            .w(2622px);
            user-select: none;
            pointer-events: none;
        }
        .u-map {
            .pa;
            .lt(0);
            .fz(14px);
            .r(2px);
            .db;
            .w(18px);
            .x;
            .z(1);
            padding: 5px 3px;
            color: #fff;
            letter-spacing: 2px;
            writing-mode: vertical-rl;
            transform: translateX(-50%);
            cursor: pointer;
            .u-map-city_name {
                position: relative;
                .u-item_bg {
                    display: block;
                    opacity: 0;
                    transition: 0.1s all;
                }
                .u-item_text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    white-space: nowrap;
                    font-weight: bold;
                }
                &:hover {
                    .u-item_bg {
                        opacity: 1;
                    }
                }
            }
            .u-map-city_img {
                position: absolute;
                bottom: -50px;
                left: 0;
                transform: translateX(-50%);
                display: block;
                width: 80px;
                max-width: none;
            }
        }
        .u-img {
            .size(4920px, 3456px);
            max-width: 4920px;
        }
    }
}

@media screen and(max-width:@ipad) {
    .m-maps {
        max-width: 100%;
        flex-direction: column;
        overflow: auto;
        .m-maps-pic {
            order: 1;
        }
        .m-toolbar {
            .pl(0);
            .w(100%);
            border: 0;
            .el-button-group,
            .el-input {
                max-width: 300px;
            }
            .m-mapList {
                flex-direction: row;
                overflow: auto;
                .u-item {
                    .w(2em);
                    .x;
                    padding: 5px;
                    letter-spacing: 2px;
                    writing-mode: vertical-rl;
                }
            }
        }
    }
}

.m-maps-dialog {
    .m-city {
        .flex;
        flex-wrap: wrap;
        gap: 30px;
        span {
            .pointer;
        }
    }
}
